#audio-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#audio-control button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#audio-control button:hover {
  color: #fff;
  transform: scale(1.2);
}
#audio-control #pauseButton {
  display:none;
}